@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="scripts/photo-viewer.js" type="text/javascript"></script>
<script src="scripts/index-page.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var pageComponent = new Page();
        var images = [];
        var images1 = [{ Id: 1, Link: "images/2.jpg" },{ Id: 2, Link: "images/3.jpg" },{ Id: 3, Link: "images/4.jpg" }];
        var images2 = [{Id: 1, Link:"images/5.jpg"},{Id: 2, Link:"images/6.jpg"},{Id: 3, Link:"images/7.jpg"}];
        var images3 = [{ Id: 1, Link: "images/8.jpg" }, { Id: 2, Link: "images/9.jpg" }, { Id: 3, Link: "images/10.jpg" }];
        images.push(images1);
        images.push(images2);
        images.push(images3);
        pageComponent.init(images);
        ko.applyBindings(pageComponent, document.getElementById("data-container"));  
    });
</script>
<div id="data-container" class="data-container" >
    <h3> Here the images are shown in separate collections. </h3>
    <div data-bind="foreach: AllImages">
        <div data-bind="foreach: $data">
            <img style="width:200px; height:200px; cursor:pointer;" data-bind="attr: { 'src': Model().Link }, click: function (data, event) { $root.open($parent, data); }"/>
        </div>
    </div>
</div>